In [1]:
import pandas as pd
import numpy as np
import sys
import os

In [21]:
def get_patient_info():
    activity_dir = "hyperaktiv_with_controls"
    return pd.read_csv(activity_dir + "/patient_info.csv", delimiter=";")

def get_activity_data(patient_id):
    activity_dir = "hyperaktiv_with_controls/activity_data"
    fname = "{}/patient_activity_0{}.csv".format(activity_dir, patient_id) if patient_id < 10 else "{}/patient_activity_{}.csv".format(activity_dir, patient_id)

    print("Reading from {}:".format(fname))
    return pd.read_csv(fname, delimiter=';')

In [22]:
get_activity_data(45)

Reading from hyperaktiv_with_controls/activity_data/patient_activity_45.csv:

             TIMESTAMP  ACTIVITY
0     12-16-2009 13:30         0
1     12-16-2009 13:31         0
2     12-16-2009 13:32         0
3     12-16-2009 13:33         0
4     12-16-2009 13:34         3
...                ...       ...
9534  12-23-2009 04:24      1143
9535  12-23-2009 04:25       273
9536  12-23-2009 04:26       122
9537  12-23-2009 04:27       377
9538  12-23-2009 04:28         0

[9539 rows x 2 columns]

In [27]:
patient_info = get_patient_info()
patient_info_acc = patient_info[patient_info['ACC'] == 1]
patient_info_acc

,ID,SEX,AGE,ACC,ACC_TIME,ACC_DAYS,HRV,HRV_TIME,HRV_HOURS,CPT_II,...,HADS_D,MED,MED_Antidepr,MED_Moodstab,MED_Antipsych,MED_Anxiety_Benzo,MED_Sleep,MED_Analgesics_Opioids,MED_Stimulants,filter_$
0,1,0,3,1,16:00:00,6,1,11:00:00,21.0,0,...,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2,0,4,1,10:54:00,6.8,0,NaN,NaN,1,...,7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,3,1,2,1,15:28:00,7.2,1,15:25:00,21.0,1,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,5,1,1,1,14:24:00,5.9,1,16:00:00,12.0,1,...,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,7,0,3,1,14:30:00,8,1,10:20:00,21.0,1,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,236,1,2,1,9:30:00,"13,3",0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,237,0,1,1,15:00:00,14,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,238,0,4,1,9:00:00,"14,6",0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,239,0,4,1,9:00:00,"14,3",0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,240,1,1,1,9:00:00,"14,6",0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN